@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Flight>
<link rel="stylesheet" href="/css/flightcard.css">

@if (Model.Count > 0)
{
    
    <ul>
        @foreach (var flight in Model)
        {
            <div class="flight-card">
                <div class="flight-departure">
                    <h3>Departure</h3>
                    <p class="country">@flight.DepartureCountry</p>
                    <p class="time">@flight.DepartureDate.ToShortDateString() @flight.DepartureTime.ToShortTimeString()</p>
                </div>
                <div class="flight-logo">
                    <img src="/img/planeicon1.png" alt="Flight Logo">
                </div>
                <div class="flight-arrival">
                    <h3>Arrival</h3>
                    <p class="country">@flight.ArrivalCountry</p>
                    <p class="time">@flight.DepartureDate.ToShortDateString() @flight.ArrivalTime.ToShortTimeString()</p>
                </div>
                <div class="flight-details">
                    <div class="flight-info">
                        <p class="aircode">@flight.AircraftType</p>
                        <p class="airtype">@flight.Airline</p>
                        <p class="class">Class:@flight.Class</p>
                    </div>
                    <div class="book-button-container">
                        <span >@flight.Price $</span>
                        <a href="/Cart/AddToCart/?flightId=@flight.flightId" class="book-button">Book Now</a>
                    </div>
                </div>
            </div>            
        }
    </ul>
}
else
{
    <p>No flights found.</p>
}

