@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Cart

<link rel="stylesheet" href="/css/Cart.css">
<link rel="stylesheet" href="/css/flightcard.css">
<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-7">
                                <h5 class="mb-3">
                                    <a asp-controller="Home" asp-action="index" class="text-body">
                   <i class="fas fa-long-arrow-alt-left me-2"></i>Return to search flight</a></h5>               
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    
                  </div>
                  <div>
                   
                  </div>
                </div>
                 @foreach (var line in Model.Lines)
                                {
                                    <div class="flight-card">
                                        <div class="flight-departure">
                                            <h3>Departure</h3>
                                            <p class="country">@line.Flight.DepartureCountry</p>
                                            <p class="time">@line.Flight.DepartureDate.ToShortDateString() @line.Flight.DepartureTime.ToShortTimeString()</p>
                                        </div>
                                        <div class="flight-logo">
                                            <img src="/img/planeicon1.png" alt="Flight Logo">
                                        </div>
                                        <div class="flight-arrival">
                                            <h3>Arrival</h3>
                                            <p class="country">@line.Flight.ArrivalCountry</p>
                                            <p class="time"> @line.Flight.DepartureDate.ToShortDateString() @line.Flight.ArrivalTime.ToShortTimeString()</p>
                                        </div>
                                        <div class="flight-details">
                                            
                                            <div class="book-button-container">
                                                <a href="/Cart/RemoveFromCart/?flightId=@line.Flight.flightId" class="book-button">Remove</a>
                                            </div>
                                            <div class="book-button-container">
                                                <span> @line.Flight.Price $</span>
                                            </div>
                                        </div>
                                        <style>
                                            .quantity-input {
                                                display: flex;
                                                align-items: center;
                                            }

                                                .quantity-input a {
                                                    display: inline-block;
                                                    width: 30px;
                                                    height: 30px;
                                                    text-align: center;
                                                    line-height: 30px;
                                                    text-decoration: none;
                                                    background-color: #f0f0f0;
                                                    color: #333;
                                                    font-weight: bold;
                                                    border-radius: 50%;
                                                    margin: 0 5px;
                                                }

                                                .quantity-input span {
                                                    font-weight: bold;
                                                    font-size: 18px;
                                                    margin: 0 10px;
                                                }
                                        </style>
                                        
                                       
                                       
                                    </div>
                                    @if (@line.Quantity == 0)
                                    {
                                        <span>If you wan't delete click'</span>
                                        <a href="/Cart/RemoveFromCart/?flightId=@line.Flight.flightId" class="book-button">Submit</a>
                                    }
                                    @if (@line.Quantity < 0)
                                    {

                                        <form id="myForm" asp-controller="Cart" asp-action="AddToCart" method="get">
                                            <input type="hidden" name="flightId" value="@line.Flight.flightId">
                                        </form>
                                        <script>
                                            document.addEventListener("DOMContentLoaded", function () {
                                                var form = document.getElementById("myForm");
                                                form.submit();
                                            });
                                        </script>
                                    }

                                    <span>Quantity:</span>
                                    <div class="quantity-input">
                                        <a href="/cart/UpdateCart/?flightId=@line.Flight.flightId" id="decrease-btn">-</a>
                                        <span id="quantity-display">@line.Quantity</span>
                                        <a href="/cart/AddToCart/?flightId=@line.Flight.flightId" id="increase-btn">+</a>
                                    </div>
                                }


              

                            </div>
              <div class="col-lg-5">

                <div class="card bg-primary text-white rounded-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Information details</h5>
                   
                    </div>

                    
                    <a href="#!" type="submit" class="text-white"><i
                        class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                    <a href="#!" type="submit" class="text-white"><i
                        class="fab fa-cc-visa fa-2x me-2"></i></a>
                    <a href="#!" type="submit" class="text-white"><i
                        class="fab fa-cc-amex fa-2x me-2"></i></a>
                    <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>

                   

                    <hr class="my-4">
                    @foreach (var line in Model.Lines)
                    {
                        <div class="d-flex justify-content-between mb-4">
                                                <p class="mb-2">Vé @line.Flight.DepartureCountry đến @line.Flight.ArrivalCountry @line.Flight.DepartureDate.ToShortDateString() @line.Flight.DepartureTime.ToShortTimeString()</p>
                                                <p class="mb-2">@(line.Flight.Price*line.Quantity)$</p>
                        </div>                    
                    
                    }
                    <form id="form-submit" asp-controller="Payment" asp-action="CreatePayment" method="post" >
                             <input  type="hidden" name="currency" value="USD">
                             <input type="hidden" name="total" value="@Model.ComputeTotalValue()">
                    <button type="submit"  class="btn btn-info btn-block btn-lg">
                      <div class="d-flex justify-content-between">
                        <span> @Model.ComputeTotalValue()$</span>
                        <span> Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                                
                      </div>
                    </button>
                    </form>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>